In [9]:
import pandas as pd
import numpy as np
import geopy.geocoders
from project_lib import Project

In [10]:

import types
import pandas as pd
from botocore.client import Config
import ibm_boto3

def __iter__(self): return 0

# @hidden_cell
# The following code accesses a file in your IBM Cloud Object Storage. It includes your credentials.
# You might want to remove those credentials before you share the notebook.
client_98f2b0c89eb74bfa99eff691e0706fa2 = ibm_boto3.client(service_name='s3',
    ibm_api_key_id='6StgFJqqsfEOtuO9qffh1Gny5Tgm-IOEJlfVvJW0Mre8',
    ibm_auth_endpoint="https://iam.cloud.ibm.com/oidc/token",
    config=Config(signature_version='oauth'),
    endpoint_url='https://s3-api.us-geo.objectstorage.service.networklayer.com')

body = client_98f2b0c89eb74bfa99eff691e0706fa2.get_object(Bucket='neighborhoodsegmentationandcluste-donotdelete-pr-yixasb9bekdcju',Key='toronto.csv')['Body']
# add missing __iter__ method, so pandas accepts body as file-like object
if not hasattr(body, "__iter__"): body.__iter__ = types.MethodType( __iter__, body )

df_data_1 = pd.read_csv(body)
df_data_1.head()

   Unnamed: 0 Postal Code      Borough                            Neighborhood
0           0         M1B  Scarborough                          Malvern, Rouge
1           1         M1C  Scarborough  Rouge Hill, Port Union, Highland Creek
2           2         M1E  Scarborough       Guildwood, Morningside, West Hill
3           3         M1G  Scarborough                                  Woburn
4           4         M1H  Scarborough                               Cedarbrae

In [11]:

body = client_98f2b0c89eb74bfa99eff691e0706fa2.get_object(Bucket='neighborhoodsegmentationandcluste-donotdelete-pr-yixasb9bekdcju',Key='Geospatial_Coordinates.csv')['Body']
# add missing __iter__ method, so pandas accepts body as file-like object
if not hasattr(body, "__iter__"): body.__iter__ = types.MethodType( __iter__, body )

# If you are reading an Excel file into a pandas DataFrame, replace `read_csv` by `read_excel` in the next statement.
df_data_0 = pd.read_csv(body)
df_data_0.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [12]:
df_data_1['Latitude']=df_data_0['Latitude']
df_data_1.head()

,Unnamed: 0,Postal Code,Borough,Neighborhood,Latitude
0,0,M1B,Scarborough,"Malvern, Rouge",43.806686
1,1,M1C,Scarborough,"Rouge Hill, Port Union, Highland Creek",43.784535
2,2,M1E,Scarborough,"Guildwood, Morningside, West Hill",43.763573
3,3,M1G,Scarborough,Woburn,43.770992
4,4,M1H,Scarborough,Cedarbrae,43.773136

In [14]:
df_data_1['Longitude']=df_data_0['Longitude']
df_data_1.head()

,Unnamed: 0,Postal Code,Borough,Neighborhood,Latitude,Longitudde,Longitude
0,0,M1B,Scarborough,"Malvern, Rouge",43.806686,-79.194353,-79.194353
1,1,M1C,Scarborough,"Rouge Hill, Port Union, Highland Creek",43.784535,-79.160497,-79.160497
2,2,M1E,Scarborough,"Guildwood, Morningside, West Hill",43.763573,-79.188711,-79.188711
3,3,M1G,Scarborough,Woburn,43.770992,-79.216917,-79.216917
4,4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476,-79.239476

In [21]:
df=df_data_1.drop(['Unnamed: 0','Longitudde'], axis=1)

In [22]:
df.head()

,Postal Code,Borough,Neighborhood,Latitude,Longitude
0,M1B,Scarborough,"Malvern, Rouge",43.806686,-79.194353
1,M1C,Scarborough,"Rouge Hill, Port Union, Highland Creek",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood, Morningside, West Hill",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476

In [25]:
df.to_csv('toronto_full.csv')